.timer {
    float: right;
    position: relative;
    bottom: 100px;
}

.questionText {
    margin-top: 5%;
    margin-bottom: 1%;
    text-align: center;
    font-weight: bold;
}

.startButton {
    text-align: center;
}

.answerButtons {
    text-align: center;
}

.correctText {
    text-align: center;
    margin-right: 4%;
}

.highScoreInput {
    text-align: center;
}